body {
  overflow-y: scroll;
}

.container {
  max-width: 1400px;
}

@media screen and (min-width: 1440px) {
  nav .container {
    max-width: 1920px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .navbar-nav {
    margin-top: 1rem;
    align-items: flex-end;
  }
}

:root {
  --schodark: #212326;
  --scholight: #f5fcff;
  --schopale: #c1c5c7;
  --schogrey: #33363a;
  --scholime: #dbf093;
  --schopurp: #c582ff;
  --schocyan: #62e8e8;
  --schogreen: #93f0a3;
  --schoaccent: #878d92;
  --schopearl: #eeeae7;
  --schoonyx: #201f1d;
  --schostone: #dfdbd8;
  --schoclay: #cdc6c1;
  --schoash: #71645b;
  --schoiris: #7c498b;
  --scholapis: #1476b3;
  --schoteal: #2ca58d;
  --schoapple: #a2bd4a;
}

html,
body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

main.dark-mode {
  background: var(--schodark);
  color: var(--scholight);
}

main.light-mode {
  background: var(--schopearl);
  color: var(--schoonyx);
}

a {
  color: var(--scholime);
  text-decoration: underline;
  transition: all 0.3s ease;
}

.light-mode a {
  color: var(--schoiris);
}

.light-mode a:hover {
  color: var(--schoiris);
}

a:hover {
  color: var(--scholime);
  text-decoration: none;
}

/* MAIN NAVIGATION */
.App .navbar .container {
  align-items: flex-start;
}

.navbar {
  pointer-events: none;
}

.navbar-brand {
  padding: 0;
  pointer-events: initial;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  pointer-events: initial;
}

.nav-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toggles {
  display: flex;
  flex-direction: row;
}

.mode-switch {
  padding-right: 1em;
}

.light-mode .theme-toggle__within {
  fill: var(--schodark);
}

/* .hamburger-react div {
  height: 0.19rem !important;
} */

.theme-toggle__within {
  fill: var(--scholight);
  font-size: 32px;
  margin-top: -2px;
}

.theme-toggle {
  min-width: 48px;
  min-height: 48px;
  padding-right: 18px;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transition: all 0.4s ease;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='2 2 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='0.6' stroke-linecap='round' stroke-miterlimit='10' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  transition: all 0.4s ease;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav .navbar-toggler {
  border: 0;
  padding: 0;
  /* height: 40px;
  width: 40px;
  background: #c582ff;
  background: -webkit-linear-gradient(
    to right,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  );
  background: -moz-linear-gradient(
    to right,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  );
  background: linear-gradient(
    100deg,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  ); */
}

.nav-link {
  color: var(--scholight);
}

.light-mode .nav-link {
  color: var(--schoonyx);
}

.nav-item .nav-link:not(.sub-link),
.navbar-nav button {
  font-size: 1.1rem;
}

.navbar-collapse {
  flex-basis: auto;
  flex-grow: 0;
}

.nav-link.g1:hover,
.nav-link.active.g1:hover {
  color: var(--schopurp);
}

.nav-link.g2:hover,
button.g2:hover,
.accordion-button:hover,
.nav-link.active.g2:hover {
  color: var(--schocyan);
}

.nav-link.g3:hover,
.nav-link.active.g3:hover {
  color: var(--schogreen);
}

.nav-link.g4:hover,
.nav-link.active.g4:hover {
  color: var(--scholime);
}
/* 
.light-mode .nav-link.g1:hover,
.light-mode .nav-link.active.g1:hover {
  color: var(--schoiris);
}

.light-mode .nav-link.g2:hover,
.light-mode .nav-link.active.g2:hover,
.light-mode button.g2:hover,
.light-mode .accordion-button:hover {
  color: var(--scholapis);
}

.light-mode .nav-link.g3:hover,
.light-mode .nav-link.active.g3:hover {
  color: var(--schopearl);
  /* border-right: 4px solid var(--schoteal); */
/* margin-right: 5px; 
}*/

figure {
  margin: 0;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--schogrey);
}

.light-mode .project-card {
  background-color: var(--schostone);
}

figcaption i {
  font-size: 0.9rem;
}

.figbtn2 i {
  font-size: 0.8em;
}

.card-info {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 10;
}

.card-cover img {
  margin-bottom: 0.5rem;
}

.project-card figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

figcaption .p-title {
  margin-top: 0;
  font-size: 1.2em;
}

.light-mode figcaption .p-desc {
  color: var(--schoonyx);
  padding-bottom: 2em;
}

.card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: 0.45s ease-in-out;
  background-color: rgba(83, 87, 94, 0.98);
}

.light-mode .card-info {
  background-color: rgb(205 198 193 / 97%);
}

.project-card:hover figcaption {
  opacity: 1;
}

.card-info a {
  border: 2px solid var(--schoonyx);
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--schoonyx);
  padding: 0.5em 1em;
  column-gap: 1.2em;
  border-radius: 32px;
  font-size: 1rem;
  background-color: var(--schoiris);
  color: var(--schopearl);
}

/* .card-info .figbtn1 {
  background-color: var(--schoiris);
  color: var(--schopearl);
}

.card-info .figbtn2 {
  background-color: var(--scholapis);
  color: var(--schopearl);
} */

.card-info a:hover {
  background-color: var(--schoapple);
  color: var(--schoonyx);
}

.figbtn-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0.5em;
  margin: 0 auto;
}

.figbtn1 {
  grid-area: 1 / 1 / 2 / 2;
}
.figbtn2 {
  grid-area: 2 / 1 / 3 / 2;
}

.light-mode .nav-link:hover,
.light-mode .project-nav .accordion-button:hover,
.light-mode .project-nav .accordion-button:not(.collapsed) {
  background-color: var(--schoonyx);
  color: var(--schostone);
}

#menu .project-nav .accordion-button {
  border-radius: 0px;
}

.accordion {
  transition: none;
}
/* .nav-item .g3::before {
  transition: opacity 0.4s;
  content: ">";
  opacity: 0;
  padding-right: 5px;
} */

/* .nav-item:hover .g3::before {
  opacity: 1;
} */

/* .light-mode .nav-link.g4:hover,
.light-mode .nav-link.active.g4:hover {
  color: var(--schoapple);
} */

#menu .navbar-nav .nav-link {
  padding: 0 5px;
  text-align: right;
}

.proj-nav-body {
  font-size: 0.9rem;
  padding: 5px 0;
  list-style: none;
  margin: 4px 0;
}

.light-mode .proj-nav-body {
  background-color: var(--schostone);
}

#menu .sub-li .sub-link {
  padding: 0 8px;
}

.nav-link i {
  font-size: 1.5rem;
  padding-top: 0.8rem;
  padding-left: 15px;
  padding-right: 0 !important;
}

#menu a.active {
  text-decoration: line-through;
  color: #696f76;
  pointer-events: none;
}

.light-mode #menu a.active {
  color: #9e9894;
}

.nav-item a.nav-link.active:hover {
  text-decoration: none;
}

.nav-link i:hover,
.nav-link:hover {
  cursor: pointer;
}

.nav-link {
  transition: all 0.4s;
}

.nav-link:hover {
  color: var(--schopurp);
}

.sub-li {
  padding: 2px 0;
}

.sub-li a {
  color: var(--schopale);
  letter-spacing: 0.25px;
}

.proj-nav-body ul {
  list-style-type: none;
}

.accordion {
  border-width: 0;
  border-color: transparent;
}

.accordion-item,
.accordion-button,
.accordion-button:not(.collapsed) {
  border: 0;
  background-color: transparent;
  color: var(--scholight);
  box-shadow: none;
}

.light-mode .accordion-button {
  color: var(--schoonyx);
}

.accordion-button {
  align-items: flex-end;
  width: auto;
  margin-left: auto;
  padding: 0;
  transition: all 0.8s;
}

.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.85rem;
  content: "\2b";
  margin-right: 3px;
  margin-bottom: 7px;
  text-align: Center;
  background-image: none;
  color: var(--schocyan);
  transition: all 0.15s;
}

.light-mode .accordion-button::before {
  color: var(--schoiris);
}

.light-mode .accordion-button:hover::before,
.light-mode .project-nav .accordion-button:not(.collapsed)::before {
  color: var(--schostone);
}

.accordion-button:not(.collapsed)::before {
  background-image: none;
  font-family: "Font Awesome 5 Free";
  content: "\f068";
}

.accordion-button::after {
  display: none;
}

/* TYPOGRAPHY */

.dys {
  font-family: dystopian, sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 0 6px;
  font-size: 1.2rem;
}

p {
  line-height: 1.6;
  font-size: 1.1rem;
}

h1,
h2,
h3 {
  font-family: dystopian, sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

.smallerh1 {
  font-size: 3rem;
}

.gradient {
  background: #c582ff;
  background: -webkit-linear-gradient(
    to right,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  );
  background: -moz-linear-gradient(
    to right,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  );
  background: linear-gradient(
    100deg,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light-mode .gradient {
  background: #713c7c;
  background: linear-gradient(
    100deg,
    #7c498b 0%,
    #1476b3 33%,
    #2ca58d 66%,
    #a2bd4a 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad-bg {
  background: #c582ff;
  background: -webkit-linear-gradient(
    to right,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  );
  background: -moz-linear-gradient(
    to right,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  );
  background: linear-gradient(
    100deg,
    #c582ff 0%,
    #62e8e8 33%,
    #93f0a3 66%,
    #dbf093 100%
  );
  color: var(--schodark);
  border: 0;
}

.light-mode .grad-bg {
  background: #c582ff;
  background: -webkit-linear-gradient(
    to right,
    #7c498b 0%,
    #1476b3 33%,
    #2ca58d 66%,
    #a2bd4a 100%
  );
  background: -moz-linear-gradient(
    to right,
    #7c498b 0%,
    #1476b3 33%,
    #2ca58d 66%,
    #a2bd4a 100%
  );
  background: linear-gradient(
    100deg,
    #7c498b 0%,
    #1476b3 33%,
    #2ca58d 66%,
    #a2bd4a 100%
  );
  color: var(--schodark);
  border: 0;
}

.pf-item-block {
  background: #33363a;
}

.underline {
  text-decoration: underline;
}

/* HOME & FRONT PAGE */

.home .intro {
  font-size: 1.3rem;
}

.header {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#btn-back-to-top {
  position: fixed;
  bottom: 65px;
  right: 10px;
}

.project {
  background-color: var(--schogrey);
  transition: all 0.6s;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.project a {
  height: 100%;
  width: 100%;
}

.light-mode .project {
  background-color: var(--schostone);
}

.light-mode .project:hover {
  background-color: var(--schoclay);
}

.row.project:hover {
  background-color: #292b2e;
}

.project img {
  transition: all 0.6s;
}

.design img:hover {
  cursor: pointer;
}

.project:hover img {
  transform: scale(1.05);
}

.bb {
  /* max-width: 85%; */
  max-height: 300px;
}

.project a {
  text-decoration: none;
}
.p-title {
  font-size: 1.24rem;
  font-weight: 700;
  margin-bottom: 0.23rem;
  letter-spacing: 0.02rem;
  color: var(--scholight);
  font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
}

.light-mode .p-title {
  color: var(--schoonyx);
}

.p-desc {
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-size: 0.86rem;
  color: #b8bdbf;
  margin-bottom: 0;
  line-height: 1.3;
}

.light-mode .p-desc {
  color: #695d54;
}

/* ABOUT ME */

.bio {
  border-right: 2px solid #32353a;
}

.about .row {
  justify-content: flex-start;
}

.about .intro {
  font-size: 1.1rem;
  font-weight: 500;
}

.about h1 {
  font-size: 3rem;
}

/* .profile {
  padding-top: 4rem;
} */

.profile p,
.profile {
  font-size: 0.9rem;
  flex-wrap: wrap;
}

.grade {
  color: var(--schopurp);
}
.item {
  padding: 0.5rem 0.8rem;
  background: var(--schogrey);
  margin: 3px 6px 3px 0;
  white-space: nowrap;
  line-height: 1;
}

.light-mode .item,
.light-mode .form-control {
  background: var(--schostone);
}

.grey {
  background-color: var(--schogrey);
  padding-left: 10px;
}

.faux-btn {
  background: #93f0a3;
  color: var(--schodark);
  font-weight: 600;
  text-decoration: none;
  max-width: 250px;
  padding: 0.6rem;
  text-align: center;
  border: 2px solid transparent;
  transition: all 0.6s;
}

.faux-btn:hover {
  border: 2px solid var(--schogreen);
  color: var(--schogreen);
  background: transparent;
}

/* CONTACT FORM PAGE */

.contact-block {
  padding: 4rem 0;
  border: 2px solid var(--schogrey);
}

.light-mode .contact-block {
  border: 2px solid var(--schostone);
}

input.form-control,
textarea.form-control {
  border-radius: 0;
  background: var(--schogrey);
  border: 0;
}

form .form-control::placeholder {
  color: var(--schoaccent) !important;
}

.light-mode .form-control::placeholder {
  color: #99897e !important;
}

.asterisk {
  color: var(--schopurp) !important;
}

.el-button {
  border-radius: 0 !important;
  padding: 0.6rem 1.6rem !important;
  border: 2px solid #93f0a3;
  transition: all 0.4s !important;
  background-color: var(--schogreen);
}

.el-button:hover {
  background: var(--schodark);
  color: var(--schogreen);
}

.light-mode .el-button {
  color: var(--schopearl);
  background-color: var(--schoonyx);
  border: 2px solid var(--schoonyx);
}

.light-mode button.el-button:hover {
  /* background: var(--schoclay) !important; */
  background: var(--scholapis);
  color: var(--schopearl) !important;
  border: 2px solid var(--scholapis);
}

.email-big {
  font-size: 2rem;
  transition: all 0.6s;
  padding: 0.4rem 0.6rem;
  margin-top: 0.3rem;
  border: 2px solid transparent;
}

.email-big:hover {
  border-bottom: 2px solid var(--schogreen);
}

.light-mode .email-big:hover {
  border-bottom: 2px solid var(--scholapis);
}

/* PROJECT PAGE */

.next-proj {
  font-size: 0.72rem;
  color: var(--schoaccent);
  margin-right: 34px;
}

button.back-link {
  text-decoration: none;
  font-size: 1rem;
  color: var(--scholime);
  background-color: transparent;
  border: none;
}

button.back-link:hover {
  text-decoration: underline;
}

.next-link i {
  padding-left: 15px;
  color: var(--scholight);
  padding-right: 0 !important;
}

.back-link i {
  padding-right: 15px;
  color: var(--scholight);
}

.proj-desc {
  font-size: 16px;
}
.link-icon {
  margin-right: 10px;
  font-size: 0.92rem;
}

h1.mb-3 {
  font-size: 2.6rem;
}

p.intro {
  font-size: 1.06rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.proj-img {
  background: var(--schogrey);
  transition: all 0.6s;
}

.design .proj-img:hover {
  transform: scale(1.02);
}

.categories {
  color: var(--scholight);
  font-size: 0.82rem;
  letter-spacing: 0.0325rem;
}

.p-cat {
  padding: 0 8px;
}

.p-cat:first-child {
  padding-left: 0;
}

.p-cat:last-child {
  padding-right: 0;
}

.p-cat {
  color: var(--schoaccent);
}

.nl {
  padding-left: 0;
}

.plink-cont {
  display: inline-block;
  padding: 12px 18px;
  border: 1.5px solid var(--schogrey);
}

/* FOOTER */

footer {
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #1c1e20;
  font-size: 0.76rem;
  color: #a6abad;
}

.light-mode footer {
  background-color: var(--schostone);
}

.light-mode footer a {
  color: var(--schoash);
}
.footer-soc {
  text-align: right;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .navbar-nav {
    position: absolute;
    left: 0;
    width: 100% !important;
    height: 100vh;
    background-color: #212326;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    background-color: #212326;
  }
  .header {
    padding: 1rem 0.75rem 1.3rem;
  }
  .home .intro {
    font-size: 1.1rem;
  }
  .home h1 {
    font-size: 5rem;
  }
  .home .project {
    padding: 2rem 0 0.5rem;
    margin-bottom: 1.5rem;
  }
  .p-title {
    font-size: 1.6rem;
    margin-bottom: 0.35rem;
  }
  .p-desc {
    /* font-size: 0.93rem; */
    color: #b8bdbf;
    line-height: 1.5;
  }
  .profile {
    padding-top: 3rem;
  }
  .profile h2 {
    font-size: 2.8rem;
  }
  .contact footer.mt-5 {
    margin-top: 0 !important;
  }
  .about-img {
    display: none;
  }
  .project-page h1 {
    font-size: 2rem;
  }
  .project-page p {
    line-height: 1.3;
  }
  .project-page .intro {
    font-size: 0.9rem;
    margin-bottom: 1.3rem;
  }
  .plink-cont {
    font-size: 0.92rem;
    margin-bottom: 0.5rem;
  }
  .p-cat {
    font-size: 0.8rem;
  }
  .navbar-brand img {
    max-width: 50px;
    height: auto;
  }
}
